<!DOCTYPE html>
<html>
  <%-include('./partials/fill.ejs')%>
  <body>
    <div class="section">
      <h1>Yet Another To-Do-List</h1>
      <a class="button" href="/add">Add New Task</a>
      <a class="button" href="/todo-list">View To-Do List</a>
    </div>
  </body>
</html>